<!DOCTYPE html>
<html>
<head>
    <title>Assignment 2</title>
</head>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
</div>
<div>
    <form action="{{url_for('index')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>CSV Upload</legend>
            <label for="csvupload">Select the CSV file to upload</label>
            <input type="file" id="csvupload" name="csvupload"><br><br>
            <input type="submit" value="Upload">
        </fieldset>
    </form>
    <form action="{{url_for('eq_count')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Search Earthquakes</legend>
            <label for="count">Search for earthquakes with magnitude greater than</label>
            <input type="text" id="count" name="count"><br><br>
            <a href="/eqcount"><input type="submit" value="Find"></a>
        </fieldset>
    </form>
    <form action="{{url_for('range_count')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Search Earthquakes with range</legend>
            <label>Search for earthquakes with magnitude range and time</label><br><br>
            <label for="count">Start range</label>
            <input type="text" id="startrange" name="startrange">
            <label for="count">End range</label>
            <input type="text" id="stoprange" name="stoprange"><br><br>
            <label for="timerange">Select the time range</label>
            <input type="radio" name="timerange" id="timerange" value="Recent Week">Recent Week
            <input type="radio" name="timerange" value="Month">Month<br><br>
            <a href="/rangecount"><input type="submit" value="Find"></a>
        </fieldset>
    </form>

    <form action="{{url_for('earthquake_clusters')}}" enctype=multipart/form-data method="POST" style="width:30%;">
        <fieldset>
            <legend>Earthquake Clusters</legend>
            <label>Select an option to clusters the earthquakes</label><br><br>
            <input type="radio" name="cluster" value="Lat and Long">Lat and Long
            <input type="radio" name="cluster" value="Magnitude">Magnitude
            <input type="radio" name="cluster" value="Magnitude Type">Magnitude Type<br><br>
            <a href="/earthquakeclusters"><input type="submit" value="Find"></a>
        </fieldset>
    </form>
</div>
</body>
</html>