<!DOCTYPE html>
<html>
<head>
    <title>Assignment 2</title>
</head>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes1 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between -2.0 and -1.0 is:</h3>
    <h5>{{length1}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes2 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between -1.0 and 0.0 is:</h3>
    <h5>{{length2}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes3 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 0.0 and 1.0 is:</h3>
    <h5>{{length3}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes4 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 1.0 and 2.0 is:</h3>
    <h5>{{length4}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes5 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 2.0 and 3.0 is:</h3>
    <h5>{{length5}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes6 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 3.0 and 4.0 is:</h3>
    <h5>{{length6}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes7 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 4.0 and 5.0 is:</h3>
    <h5>{{length7}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes8 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 5.0 and 6.0 is:</h3>
    <h5>{{length8}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes9 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 6.0 and 7.0 is:</h3>
    <h5>{{length9}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes10 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes with MAG between 7.0 and 8.0 is:</h3>
    <h5>{{length10}}</h5>
</div>
</body>
</html>