<!DOCTYPE html>
<html>
<head>
    <title>Assignment 2</title>
</head>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes1 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is md</h3>
    <h5>{{length1}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes2 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is mwr</h3>
    <h5>{{length2}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes3 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is mb</h3>
    <h5>{{length3}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes4 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is mh</h3>
    <h5>{{length4}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes5 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is mw</h3>
    <h5>{{length5}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes6 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is mb_lg</h3>
    <h5>{{length6}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes7 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is mww</h3>
    <h5>{{length7}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes8 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is NA</h3>
    <h5>{{length8}}</h5>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Latitude</th>
            <th style="border:1px solid black">Longitude</th>
            <th style="border:1px solid black">Depth</th>
            <th style="border:1px solid black">Mag</th>
            <th style="border:1px solid black">Magtype</th>
            <th style="border:1px solid black">Place</th>
            <th style="border:1px solid black">LocationSource</th>
        </tr>
        {% for values in earthquakes9 %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes where Mag Type is ml</h3>
    <h5>{{length9}}</h5>
</div>
</body>
</html>