<!DOCTYPE html>
<html>
<head>
    <title>Assignment 2</title>
</head>
<body>
<div style="text-align: center">
    <h1>Yaswanth Janardhan Konduru</h1>
    <h3>1001741845</h3>
</div>
<div>
    <table style="border:1px solid black">
        <tr style="border:1px solid black">
            <th style="border:1px solid black">Time</th>
            <th style="border:1px solid black">Mag</th>
        </tr>
        {% for values in earthquakes %}
        <tr style="border:1px solid black">
            {% for data in values %}
            <td style="border:1px solid black">{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h3>Count of earthquakes is:</h3>
    <h5>{{length}}</h5>
</div>
</body>
</html>